<label>Server Name One way binding</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<label>Server Name Two way binding</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<button
  type="button"
  name="button"
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer></ng-template>
<app-server *ngFor="let server of servers"></app-server>
