<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <h3>I am in the AppComponent</h3>
        <hr>
        <app-servers>
        </app-servers>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <warning></warning>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <success></success>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div username></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <directives></directives>
    </div>
  </div>
</div>
